<!-- Footer Component -->
<footer id="footer" class="bg-dark text-white py-4">
    <div class="container">
        <!-- Footer Top Section -->
        <div class="row">
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p><strong>Address:</strong> City West View, Kamembe, Rusizi District, Rwanda</p>
                <p><strong>Phone:</strong> <a href="tel:+250789221794" class="text-white">+250 789 221 794</a></p>
                <p><strong>Email:</strong> <a href="mailto:info@citywestview.com" class="text-white">info@citywestview.com</a></p>
            </div>
            
            <div class="col-md-4">
                <h5>Social Media</h5>
                <div class="d-flex">
                    <a href="https://www.facebook.com" class="text-white me-3" target="_blank">
                        <i class="fab fa-facebook fa-2x"></i>
                    </a>
                    <a href="https://twitter.com" class="text-white me-3" target="_blank">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a>
                    <a href="https://www.instagram.com" class="text-white" target="_blank">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="../pages/index.html" class="text-white">Home</a></li>
                    <li><a href="../pages/menu.html" class="text-white">Menu</a></li>
                    <li><a href="../pages/rooms.html" class="text-white">Rooms</a></li>
                    <li><a href="../pages/events.html" class="text-white">Events</a></li>
                    <li><a href="../pages/contact.html" class="text-white">Contact</a></li>
                </ul>
            </div>
        </div>

        <!-- Footer Bottom Section -->
        <div class="text-center mt-4">
            <p>&copy; 2025 City West View | All Rights Reserved</p>
            <p><small>Designed by <a href="https://www.yourwebsite.com" class="text-white" target="_blank">Your Name</a></small></p>
        </div>
    </div>
</footer>

<!-- FontAwesome Icons (for social media links) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>